
#about-words{
  color: white;
  margin-right: 10px;

}

#about-words:hover{
  color:#ff6699;

}
html{
  min-height: 100%;
  overflow-y:scroll;
  background-color: black;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  
  
  
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color:white;
 }

 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
 }

.p-0{
  background-color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#courses-words{
  color: white;
  margin-right: 10px;
}

#courses-words:hover{
  color:#ccff33;

}

#contact-words{
  color:white;
  margin-right: 10px;
}

#contact-words:hover{
  color:#cc9966;
}
.cp-card {
  margin: 30px 10px 30px 10px;

}

.cp-card-image {
  border-radius: 30px;
  width: 275px;
  height: 275px;
 

}
.cp-card-image:hover{
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  box-shadow:  13px 13px 26px #0c0c0c, 
  -13px -13px 26px #303232;
}


.cp-card-info {
  margin-top: 10px;
  min-height: 100px;
  color: grey;
  
}


.cp-card-title {
  font-size: 24px;
  margin: 0px;
  color: grey;
}

.cp-card-sub-title {
  font-size: 16px;
  margin: 0px;
  
}

.success-msg {
  color:green;
  padding:10px 15px;
}

.erro-msg {
  color: red;
  padding:10px 15px;
}
#footer-words{
  color:grey;
  margin-top: 100px;
}
#home-words{
  color: white;
  margin-right: 10px;
}

#home-words:hover{
  color:#ff6633;
}

.home-gif{
  width: 100%;
  max-width: 100%; 
  height: auto;
  float: right;
  position: relative;
 
}



.home-p {
  color: white;
  margin: 20px 60px;
  font-size: 75px;
  height: auto;
  width: auto;

}

.hero-set{
  position: relative;

}


.nav-link {
  font-size: 24px;
  color: grey;
  letter-spacing: 1px;
  margin-left: 10px;
}

.about-me-page {
  display: table;
  border: 2px solid green;
  margin: 0 auto;
}

.left-text{
  
  font-family: 'Cardo', serif;
  font-size: 20px;
  float: left;
  width: 400px;
  height: auto;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
  color: white;
 
}

.right-picture {

  align-content: left;
  float: right;
  width: 400px;
  height: auto;


}
.contact-me-text{
  font-family: 'Cardo', serif;
  font-size: 20px;
}

img:hover {
  cursor: pointer;
}



.button2{
 
  padding: 20px;
  border:0.10em solid #ccff33;
  margin-left: 45px;
  margin-top: 33px;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Oswald',sans-serif;
  font-weight:100;
  font-size: 33px;
  color:#FFFFFF;
  text-align:center;
  letter-spacing: 2px;
  transition: all 0.15s;
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
  
 
  

  
  }

  .button2:hover{
  color:#DDDDDD;
  text-decoration: none;
  border:0.15em solid white;
  }
 
  
 

 @media only screen and (min-width: 768px) {
  
.home-p{
  margin-right: 300px;

}
 
  /* tablets and desktop */
}

@media only screen and (max-width: 800px) {
  /* phones */
  .home-p{
     font-size: 35px;
  }
 
 
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */

  .home-p{
    font-size: 35px;
 }


}