
#about-words{
  color: white;
  margin-right: 10px;

}

#about-words:hover{
  color:#ff6699;

}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color:white;
 }

 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
 }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#courses-words{
  color: white;
  margin-right: 10px;
}

#courses-words:hover{
  color:#ccff33;

}

#contact-words{
  color:white;
  margin-right: 10px;
}

#contact-words:hover{
  color:#cc9966;
}
.cp-card {
  margin: 30px 10px 30px 10px;

}

.cp-card-image {
  border-radius: 30px;
  width: 300px;
  height: 300px;
 

}
.cp-card-image:hover{
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  box-shadow:  13px 13px 26px #0c0c0c, 
  -13px -13px 26px #303232;
}


.cp-card-info {
  margin-top: 10px;
  min-height: 100px;
  color: grey;
  
}


.cp-card-title {
  font-size: 24px;
  margin: 0px;
  color: grey;
}

.cp-card-sub-title {
  font-size: 16px;
  margin: 0px;
  
}

.success-msg {
  color:green;
  padding:10px 15px;
}

.erro-msg {
  color: red;
  padding:10px 15px;
}
#footer-words{
  color: white;
}
#home-words{
  color: white;
  margin-right: 10px;
}

#home-words:hover{
  color:#ff6633;
}
#home-p-text{
  color: white;
  margin: 70px 20px 20px 20px;
  font-size: 75px;
  
}
.nav-link {
  font-size: 24px;
  color: grey;
}

.about-me-page {
  display: table;
  border: 2px solid green;
  margin: 0 auto;
}

.left-text{
  
  font-family: 'Cardo', serif;
  font-size: 20px;
  float: left;
  width: 400px;
  height: auto;
  padding: 5px 5px 5px 5px;
  margin: 10px 10px 10px 10px;
  color: white;
 
}

.right-picture {

  align-content: left;
  float: right;
  width: 400px;
  height: auto;


}
.contact-me-text{
  font-family: 'Cardo', serif;
  font-size: 20px;
}

img:hover {
  cursor: pointer;
}

.p-0{
  background-color: black;

}

#button2{
  display: inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  font-size: 24px;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
  
  }

  #button2:hover{
  color:#DDDDDD;
  border-color:#ccff33;
  }
  #button2:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }
  